// Couleurs principales
$primary-color: #007bff;
$secondary-color: #6c757d;

$bkg-color: #f8f9fa;

// Police principale
$font-family: 'Helvetica Neue', sans-serif;

// Espacement
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
